In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [2]:
data_file="customers.xlsx"
customer_data=pd.read_excel(data_file)
customer_data.head()

,ID,Age,Sex,Post code,Location,Average Balance,Monthly Income,Credit card balance,Mortgage balance,Current Account,Overdraft,Savings acc,ISA
0,1,22,F,TR,Truro,50,122,300,0,Student,0,Savings Builder,Help toBuy: ISA
1,2,20,M,PA,Paisley,127,748,762,0,Student,0,Savings Builder,Help toBuy: ISA
2,3,61,F,G,Glasgow,2490,7297,0,0,Everyday select,1,Instant Saver,Fixed Rate ISA
3,4,50,F,CR,Croydon,2852,7486,19964,0,Reward1,0,NaN,Fixed Rate ISA
4,5,41,F,CF,Cardiff,2942,7461,0,208908,Reward1,0,NaN,NaN

In [3]:
sex=pd.get_dummies(customer_data['Sex'], drop_first=True)

customer_data.drop('Post code', axis=1, inplace=True)
customer_data.drop(['Sex', 'Current Account', 'Location','Savings acc', 'ISA'], axis=1, inplace=True)
customer_data=pd.concat([customer_data, sex], axis=1)
customer_data.head()

,ID,Age,Average Balance,Monthly Income,Credit card balance,Mortgage balance,Overdraft,M
0,1,22,50,122,300,0,0,0
1,2,20,127,748,762,0,0,1
2,3,61,2490,7297,0,0,1,0
3,4,50,2852,7486,19964,0,0,0
4,5,41,2942,7461,0,208908,0,0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(customer_data.drop('Overdraft',axis=1), 
           customer_data['Overdraft'], test_size=0.20, 
            random_state=200)

In [28]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [29]:
train_pred=logmodel.predict(X_train)
Predictions = logmodel.predict(X_test)

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test,Predictions))
print(classification_report(y_train, train_pred))

             precision    recall  f1-score   support

          0       0.72      1.00      0.84      1436
          1       0.00      0.00      0.00       565

avg / total       0.52      0.72      0.60      2001

             precision    recall  f1-score   support

          0       0.71      1.00      0.83      5653
          1       0.00      0.00      0.00      2347

avg / total       0.50      0.71      0.59      8000

C:\Users\RBS\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [32]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, Predictions))
print(confusion_matrix(y_train, train_pred))

[[1436    0]
 [ 565    0]]
[[5653    0]
 [2347    0]]

In [33]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, Predictions))
print(accuracy_score(y_train, train_pred))

0.7176411794102948
0.706625

In [34]:
logmodel.predict_proba(X_test)

array([[0.63312237, 0.36687763],
       [0.77178714, 0.22821286],
       [0.69877978, 0.30122022],
       ...,
       [0.76926073, 0.23073927],
       [0.69083145, 0.30916855],
       [0.63847329, 0.36152671]])

In [35]:
set(y_test)-set(Predictions)

{1}